@import "variables";
@import "mixin";


html{
    box-sizing: border-box;
    font-size: 100%;
}
*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: auto;

    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    h1, h2, h3, h4{
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
    }
    
    main{
        
        
        .header{
            padding: 3.5vw 5vw;
            background-color: #EDFBFE;
            background-image: url(../../images/bg-hero-desktop.svg);
            background-repeat: no-repeat;
            background-position: top;
            @include breakpoint-down(medium){
                padding: 5vw 4.75vw;
            }
            @include breakpoint-down(small){
                padding: 6.5vw 4.5vw;
                background-image: url(../../images/bg-hero-mobile.svg);
            }
            &_nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: auto;
                @include breakpoint-down(medium){
                }
                @include breakpoint-down(small){
                    
                }
                .logo{
                    background-image: url(../../images/logo.svg);
                    width: 192px;
                    height: 31px;
                    margin-left: 10px;
                    @include breakpoint-down(medium){
                        margin-left: 5px;
                        width: 151px;
                        height: 24px;
                    }
                    @include breakpoint-down(small){
                        margin: 0;
                        width: 110px;
                        height: 18px;
                    }
                }
                .white_cta{
                    background-color: white;
                    padding: 15px 65px;
                    border-radius: 25px;
                    display: flex;
                    align-items: center;
                    line-height: 1;
                    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                    @include breakpoint-down(medium){
                        padding: 9px 42px;
                    }
                    @include breakpoint-down(small){
                        padding: 4px 19px;
                    }
                    a{
                        text-decoration: none;
                        font-weight: 700;
                        font-size: 14px;
                        color: $VeryDarkCyan;
                        @include breakpoint-down(medium){
                            font-size: 12px;
                        }
                        @include breakpoint-down(small){
                            font-size: 10px;
                        }
                        
                    }
                }
            }
            &_hero{
                display: flex;
                margin-top: 5vw;
                height: 35vw;
                @include breakpoint-down(medium){
                    flex-direction: column;
                    height: auto;
                }
                @include breakpoint-down(small){
                    margin-top: 22vw;
                }
                &_text{
                    flex: 0.85;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    padding: 25px 0px;
                    padding-left: 10px;

                    @include breakpoint-down(medium){
                        
                        text-align: center;
                        align-items: center;
                        padding: 0;
                    }
                    @include breakpoint-down(small){
                        
                    }
                    h1{
                        width: 95%;
                        font-size: 39px;
                        padding-left: 5px;
                        
                        @include breakpoint-down(medium){
                            width: 100%;
                            margin-bottom: 4vw;
                        }
                        @include breakpoint-down(small){
                            font-size: 25px;
                        }
                    }
                    p{
                        
                        @include breakpoint-down(medium){
                            margin-bottom: 4vw;
                        }
                        @include breakpoint-down(small){
                            
                        }
                    }
                    .pink_cta{
                        height: 55px;
                        width: 49%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 27px;
                        background-color: $Pink;
                        @include breakpoint-down(medium){
                            height: 50px;
                            margin-bottom: 4vw;
                        }
                        @include breakpoint-down(small){
                            height: 40px;
                            width: 70%;
                        }
                        a{
                            text-decoration: none;
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 1;
                            color: white;
                            @include breakpoint-down(medium){
                                font-size: 12px;
                            }
                            @include breakpoint-down(small){
                                font-size: 10px;
                            }
                        }
                    }
                }
                &_image{
                    flex: 1;
                    background-image: url(../../images/illustration-mockups.svg);
                    @include breakpoint-down(medium){
                        width: 100%;
                        background-size: contain;
                        min-height: 45vw;
                    }
                    @include breakpoint-down(small){
                        
                        min-height: 90vw;
                    }
                }
            }
        }
        .features{
            display: flex;
            flex-direction: column;
            padding: 11vw 7vw;
            gap: 40px;
            @include breakpoint-down(medium){
                
            }
            @include breakpoint-down(small){

            }
            .feature_block{
                //border: solid 1px red;
                height: 30.5vw;
                display: flex;
                padding: 3vw 2.5vw;
                border-radius: 20px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
                @include breakpoint-down(medium){
                    padding: 2vw 1.5vw;
                }
                @include breakpoint-down(small){
                    flex-direction: column-reverse;
                    height: auto;
                }
                &_text{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0vw 5.6vw;
                    gap: 10px;
                    
                    @include breakpoint-down(medium){
                        padding: 0vw 4vw;
                    }
                    @include breakpoint-down(small){
                        text-align: center;
                        padding-top: 30px;
                    }
                    h2{
                        @include breakpoint-down(medium){
                            font-size: 22px;
                        }
                        @include breakpoint-down(small){
                            
                        }
                    }
                    p{
                        @include breakpoint-down(medium){
                            font-size: 16px;
                        }
                        @include breakpoint-down(small){
                            
                        }
                    }
                }
                &_image{
                    flex: 1;
                    @include breakpoint-down(medium){

                    }
                    @include breakpoint-down(small){
                        min-height: 60vw;
                    }
                }
                &:nth-child(1){
                    .feature_block_image{
                        background-image: url(../../images/illustration-grow-together.svg);
                        background-position: right;
                        @include breakpoint-down(small){
                            background-position: center;
                        }
                    }

                }
                &:nth-child(2){
                    flex-direction: row-reverse;
                    @include breakpoint-down(small){
                        flex-direction: column-reverse;
                        background-position: center;
                    }
                    .feature_block_image{
                        background-image: url(../../images/illustration-flowing-conversation.svg);
                        background-position: left;
                        background-size: 100%;
                        @include breakpoint-down(small){
                            background-position: center;
                        }
                    }
                }
                &:nth-child(3){
                    .feature_block_image{
                        background-image: url(../../images/illustration-your-users.svg);
                        background-position: right;
                        @include breakpoint-down(small){
                            background-position: center;
                        }
                    }
                }
            }
        }
        .cta_block{
            display: flex;
            flex-direction: column;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            width: 55%;
            margin: 0 auto;
            align-items: center;
            border-radius: 20px;
            padding-top: 60px;
            position: relative;
            z-index: 2;
            background-color: white;
            @include breakpoint-down(medium){

            }
            @include breakpoint-down(small){

            }
            h3{
                font-size: 32px;
                margin-bottom: 40px;
                @include breakpoint-down(medium){

                }
                @include breakpoint-down(small){
                    
                }
            }
            .pink_cta{
                height: 80px;
                width: 49%;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 40px;
                background-color: $Pink;
                margin-bottom: 60px;
                @include breakpoint-down(medium){
                    height: 50px;
                    margin-bottom: 4vw;
                }
                @include breakpoint-down(small){
                    height: 40px;
                    width: 70%;
                }
                a{
                    text-decoration: none;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 1;
                    color: white;
                    @include breakpoint-down(medium){
                        font-size: 12px;
                    }
                    @include breakpoint-down(small){
                        font-size: 10px;
                    }
                }
            }
        }
        footer{
            min-height: 300px;
            background-color: $VeryDarkCyan;
            margin-top: -100px;
            padding-top: 195px;
            color: white;
            .footer{
                border: solid 1px red;
                width: 85%;
                margin: 0 auto;
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(4, auto);
                grid-template-areas: 
                "A A A A"
                "B E F G"
                "C E F G"
                "D E F G";
                .logo{
                    grid-area: A;
                    width: 240px;
                    height: 39px;
                    background-image: url(../../images/logo_copy.png);
                }
                .location{
                    grid-area: B;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                }
                .telefon{
                    grid-area: C;
                }
                .mail{
                    grid-area: D;
                }
                .links1{
                    grid-area: E;
                }
                .links2{
                    grid-area: F;
                }
                .icon{
                    grid-area: G;
                }
            }
        }
    }
}

//helperClass to hide/show element

.hideForMobile{
    @include breakpoint-down(medium){
        display: none;
    }
}

.hideForDesktop{
    @include breakpoint-up(large){
        display: none;
    }
}

// helper class for background image default style
.bg_nr_c_cov{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg_nr_c_con{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}